// Place all the styles related to the public/cart_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* cart_products#index
---------------------------- */

.index-wrapper {
  margin: 100px auto;
}

.index-wrapper h3 {
  margin: 50px auto;
}

.cart-table {
  display: flex;
  justify-content: center;
}

.cart-table th {
  padding: 20px;
}

.cart-table td {
  padding: 20px;
}

.cart-product-index-image {
  width: 60px;
  height: 40px;
  border-radius: 5%;
}