// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* homes#top
---------------------------- */

#slideshow-container {
  height: 500px;
}

.image1 {
  background-image: image-url("homes/shortcake.jpg");
}

.image2 {
  background-image: image-url("homes/donuts.webp");
}

.image3 {
  background-image: image-url("homes/poundcake.webp");
}

.image4 {
  background-image: image-url("homes/chocolate.webp");
}

.main-introduction {
  margin: 50px auto;
  font-size: 70px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.main-top-image {
  width: 100%;
}

.main-image {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border-radius: 5%;
}

.main-visual p {
  margin: 70px auto;
  text-align: center;
}

.sub-introduction {
  text-align: center;
  border-bottom: solid 1px #000000;
  font-family: "Dancing Script", cursive;
}

.new_products {
  display: flex;
  justify-content: center;
}

.new_products li {
  list-style: none;
  display: inline-block;
}

.new_products li img {
  width: 200px;
  height: 150px;
  margin: 0 30px;
  border-radius: 5%;
}

.btn-to-detail {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* homes#about
---------------------------- */

.about-wrapper {
  text-align: center;
}

.about-image {
  margin-top: 50px;
  width: 600px;
  height: 400px;
  border-radius: 5%;
}

.about-wrapper p {
  margin: 50px auto;
}
