<p id="notice"></p>
<div class="container">
  <h2>会員一覧</h2>

  <table class="table table-striped customer-info-table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to "#{customer.last_name + customer.first_name}", admin_customer_path(customer) %></td>
        <td><%= customer.email %></td>
      <td>
      <% if customer.is_valid == true %>
        <span class="text-success">有効</span>
      <% else %>
        <span class="text-secondary">退会済</span>
      <% end %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>