// Place all the styles related to the admin/custmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-show {
  display: flex;

.new-customer {
  width: 600px;
  height: 500px;
  padding: 1em;
  background:rgba(255,255,255,0.8);

  align-items: center;
  justify-content: center
}
}