// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bacimage {
  height: 700px;
  background-color: white;
  background-image:  image-url('admins/547079.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title-text {
  display: flex;
  justify-content: center;
  padding-right: 50%;
  padding-top: 4%;

}

.date {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  opacity: 0.8;

}

.niw-item {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}


.btn,
a.btn,
button.btn {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #BDBDBD;
  border-radius: 0.5rem;
}

a.btn--circle {
  width: 60px;
  height: 60px;
  padding: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--circle i {
  font-size: 150%;
  line-height: 60px;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 0;
}
a.btn--circle:hover i {
  line-height: 55px;
}