<body>
  <main class="bacimage">
    <h4 class="title-text">商品一覧</h4>
    <div></div>
    <%= link_to "十", new_admin_product_path, class: "btn btn--circle btn--circle-c btn--shadow fas fa-arrow-up" %>
    
  
    <div class="btnripple">
    <div class="date">
      <table class="table table-striped shadow p-3 mb-5 bg-white rounded">
        <thead>
          <th>
            <td>商品ID</td>
            <td>商品名</td>
            <td>税込価格</td>
            <td>ジャンル</td>
            <td>ステータス</td>
          </th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <th>
              <td><%= product.id %></td>
              <td><%= link_to product.name, admin_product_path(product.id) %></td>
              <td><%= product.price %></td>
              <td>ケーキ</td>
              <td>販売中</td>
            </th>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </main>
</body>